html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "Roboto";
}

#backimg {
	position: fixed;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(../images/handshake.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#main-login {
	position: absolute;
	width: 100%;
	text-align: center;
}

#logo {
	position: relative;
	width: 250px;
	right: 0;
    left: 0;
    margin: 5% auto;
}

.login {
	position: relative;
	right: 0;
    left: 0;
    margin: 0 auto;
    margin-bottom: 2%;
	width: 500px;
    background-color: #800000;
    opacity: 0.97;
    padding: 50px;
    border-radius: 4px;
    text-align: left;
}

#login-form,
#social_logins {
	float: left;
	width: 50%;
}

#login-form input {
	width: 90%;
	margin: 5px 0 15px 0;
}

#social_logins a:nth-child(3) img,
#social_logins a:nth-child(4) img {
	background-color: #fff;
	border-radius: 4px;
	padding: 8px 12px;
}

#social_logins a:nth-child(3) img {
	margin-right: 8px;
}

#social_logins a:nth-child(2) img {
	width: 210px;
	margin-right: -4px;
	height: 46px;
}

#social_logins {
	text-align: right;
}

#login-form label {
	color: #FFF430;
 	margin-right: 10px;
 	font-size: 18px;
 	letter-spacing: 1px;
}

#login-form a {
  	text-decoration: none;
 	display: block;
 	color: #FFF430;
 	margin-top: 10px;
 	letter-spacing: 1px;
 	font-size: 14px;
}

form#login-form input {
  border: 0;
  border-bottom: 1px solid rgba(255, 244, 48, 0.25);
  background-color: #800000;
  padding: 5px 0;
  color: #FFF430;
}

form#login-form input:focus {
  outline: 0;
  border-bottom: 1px solid #FFF430;
}

form#login-form input[type="submit"] {
  	background: none;
  	border: 2px solid #FFF430;
  	color: #FFF430;
  	width: auto;
  	margin: 5px 0;
  	padding: 10px 20px;
  	font-weight: 700;
  	letter-spacing: 1px;
  	-webkit-transition: background 1000ms ease, color 1000ms ease;
	-moz-transition: background 1000ms ease, color 1000ms ease;
	-ms-transition: background 1000ms ease, color 1000ms ease;
	-o-transition: background 1000ms ease, color 1000ms ease;
	transition: background 1000ms ease, color 1000ms ease;
	font-size: 18px;
}

form#login-form input[type="submit"]:hover {
	color: #800000;
	background-color: #FFF430;
	cursor: pointer;
}

@media screen and (max-width: 650px) {
	.login {
		width: 50%;
	}

	#login-form,
	#social_logins {
		width: 100%;
	}

	#social_logins a:nth-child(2) img {
		margin-left: -4px;
	}

	#social_logins {
		text-align: left;
		margin-top: 30px;
	}
}

@media screen and (max-width: 400px) {
	#social_logins a:nth-child(1) img,
	#social_logins a:nth-child(2) img {
		height: 40px;
		width: auto;
	}

	#logo {
		width: 150px;
	}
}

@media screen and (max-width: 350px) {
	#social_logins a:nth-child(1) img,
	#social_logins a:nth-child(2) img {
		height: 35px;
		width: auto;
	}
}