.login {
	margin: 20% auto;
	width: 500px;
    height: 300px;
    border: 1px solid #800000;
    padding: 50px;
    border-radius: 4px;
}

#login-form,
#social_logins {
	float: left;
	width: 50%;
}

#login-form input {
	width: 90%;
	margin: 15px 0;
}