html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "Roboto";
}

#backimg {
	position: fixed;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(../images/handshake.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#main-register {
	position: absolute;
	width: 100%;
	text-align: center;
}

#logo {
	position: relative;
	width: 250px;
	right: 0;
    left: 0;
    margin: 5% auto;
}

.register {
	position: relative;
	right: 0;
    left: 0;
    margin: 0 auto;
    margin-bottom: 2%;
	width: 400px;
    background-color: #800000;
    opacity: 0.97;
    padding: 50px;
    border-radius: 4px;
    text-align: left;
}

.register label:not(.fname),
.register input:not(#fname) {
	display: block;
}

.register input#email {
	display: inline-block;
}

.register label.fname,
.register input#fname,
.register label.lname,
.register input#lname {
	float: left;
	width: 45%;
}

.register input#fname,
.register label.fname {
	margin-right: 8%;
}

#register-form label {
	color: #FFF430;
 	font-size: 18px;
 	letter-spacing: 1px;
}

#register-form input {
	margin-bottom: 20px;
	width: 45%;
	margin-left: 1px;
}

form#register-form input {
  border: 0;
  border-bottom: 1px solid rgba(255, 244, 48, 0.25);
  background-color: #800000;
  padding: 5px 0;
  color: #FFF430;
}

form#register-form input:focus {
  outline: 0;
  border-bottom: 1px solid #FFF430;
}

form#register-form input[type="submit"] {
  	background: none;
  	border: 2px solid #FFF430;
  	color: #FFF430;
  	width: auto;
  	margin: 0;
  	margin-top: 40px;
  	padding: 10px 20px;
  	font-weight: 700;
  	letter-spacing: 1px;
  	-webkit-transition: background 1000ms ease, color 1000ms ease;
	-moz-transition: background 1000ms ease, color 1000ms ease;
	-ms-transition: background 1000ms ease, color 1000ms ease;
	-o-transition: background 1000ms ease, color 1000ms ease;
	transition: background 1000ms ease, color 1000ms ease;
	font-size: 18px;
}

form#register-form input[type="submit"]:hover {
	color: #800000;
	background-color: #FFF430;
	cursor: pointer;
}

#valid {
	display: inline-block;
}

@media (max-width: 650px) {
	.register {
		width: 50%;
	}

	#register-form label {
		font-size: 12px;
	}
}

@media (max-width: 400px) {
	#logo {
		width: 150px;
	}

	#register-form label {
		font-size: 10px;
	}

	form#register-form input[type="submit"] {
		font-size: 12px;
	}
}