html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "Roboto";
}

ul,
p {
	margin: 0;
	padding: 0;
}

/* Main image */

header {
	position: relative;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url(../images/handshake.png) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

/* Help menu */

.help-menu {
	background-color: #800000;
	opacity: 0.6;
	height: 40px;
	z-index: 10;
	width: 100%;
	text-align: center;
	position: fixed;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.help-menu #alogo {
	float: left;
	margin-left: 20%;
}

.help-menu img {
	width: 75px;
	margin-top: 7px;
}

.help-menu ul {
	float: right;
	padding-right: 20px;
}

#comps .help-menu ul,
#create-comps .help-menu ul {
	margin: 0 auto;
	float: none;
}

#comps .help-menu,
#create-comps .help-menu {
	position: inherit;
}

.help-menu ul li {
	display: inline-block;
	padding: 10px 20px;
}

.help-menu ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	padding: 4px 6px;
}

.help-menu:hover {
	opacity: 0.9;
	padding: 10px 0;
}

.help-menu:hover img {
	width: 110px;
	margin-top: 0;
}

.help-menu ul li a:hover {
	border-bottom: 1px solid #fff;
}

/* Banner */

.banner {
	text-align: center;
	position: absolute;
	right: 10%;
	top: 20%;
	max-width: 500px;
}

.banner .back {
	background: #800000;
	opacity: 0.85;
	border-radius: 3px;
	padding: 30px;
	margin-bottom: 25px;
}

.banner .back h1 {
<<<<<<< HEAD
	margin: 0 0 20px 0;
=======
	padding: 30px 10px;
>>>>>>> c725b2c9653b1c65aa732ce79d010911577e7469
	color: #fff;
	text-align: center;
}

.banner .back p {
	color: #fff;
}

.banner h2 {
	color: #800000;
	font-weight: 700;
	font-size: 30px;
}

.banner img#main-img,
.banner img#replace-img {
	height: 80px;
}

<<<<<<< HEAD
header img {
	-webkit-transition: all 1000ms ease;
	-moz-transition: all 1000ms ease;
	-ms-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
}

#main-img {
	position: absolute;
	opacity: 1;
}

#replace-img {
	opacity: 0;
}

#arrow-button {
	cursor: pointer;
}

/* COMPETITIONS.PHP */

#backimg {
	position: fixed;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(../images/handshake.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#comps {
	position: absolute;
	width: 100%;
	text-align: center;
}

#comps .help-menu {
	left: 0%;
}

#comps .main {
	position: relative;
	text-align: center;
	margin: 0 auto;
	width: 900px;
	background-color: #800000;
	border-radius: 4px;
	padding-bottom: 100px;
	margin-bottom: 10%;
}

.tab-buttons {
	margin-bottom: 5%;
}

.tab-buttons li {
	display: inline-block;
}

.tab-buttons a {
	display: block;
	cursor: pointer;
	padding: 10px 0;
	color: #FFF430;
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: #FFF430;
	font-weight: 700;
	width: 150px;
=======
/* COMPETITIONS.PHP */

.main {
	text-align: center;
	margin: 0 auto;
	max-width: 1080px;
}

.tab-buttons {
	margin-top: 50px;
	border-bottom: 1px solid #800000;
	padding: 10px;
}

#allCompsButton,
#myCompsButton,
#myCreatedCompsButton {
	margin: 30px;
	cursor: pointer;
	padding: 10px;
	color: #555;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	border-color: #fff;
	font-weight: 700;
>>>>>>> c725b2c9653b1c65aa732ce79d010911577e7469
	-webkit-transition: background-color 1500ms ease, color 1000ms ease, border 1000ms ease;
	-moz-transition: background-color 1500ms ease, color 1000ms ease, border 1000ms ease;
	-ms-transition: background-color 1500ms ease, color 1000ms ease, border 1000ms ease;
	-o-transition: background-color 1500ms ease, color 1000ms ease, border 1000ms ease;
	transition: background-color 1500ms ease, color 1000ms ease, border 1000ms ease;
}

<<<<<<< HEAD
.tab-buttons li:first-child a {
	border-width: 0 1px 1px 1px;
	border-left: 1px solid #FFF430;
	border-radius: 0 0 0 4px;
}

.tab-buttons li:last-child a {
	border-radius: 0 0 4px 0;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
	font-family: "Roboto";
	border: 1px solid #FFF430;
	color: #FFF;
}

#comps table {
	width: 800px;
}

#comps table tr:first-child{
	color: #800000;
	background-color: #FFF430;
}

#comps table tr th,
#comps table tr td {
	padding: 15px 10px;
}

#comps table tr th {
	font-weight: 700;
}

.myCompsRow:hover {
	background-color: rgba(255, 244, 48, 0.25);
	cursor: pointer;
}

.questionsRow {
	display: none;
}

td.questions {
	text-align: left;
	margin-left: 50px;
}

td.questions p {
	display: inline-block;
}

/* Learn */

#learn {
	background-color: #800000;
	display: inline-block;
	width: 100%;
	color: #fff;
	padding: 70px 0;
	text-align: center;
}

#learn .step {
	display: inline-block;
	margin: 0 40px;
}

#learn .step img {
	width: 80px;
}

#learn img.right-arrow {
	width: 40px;
	margin-bottom: 17px;
}

#learn h3 {
	margin-top: 0;
}
/* Windows 8-like menu*/


#main-menu {
	background: #eee;
=======
#allCompsButton:hover,
#myCompsButton:hover,
#myCreatedCompsButton:hover {
	border: 1px solid #800000;
	border-radius: 4px 4px 0 0;
}

table {
	margin: 30px auto;
	border-collapse: collapse;
	font-family: "Roboto";
}
table.allComps tr:first-child,
table.myComps tr:first-child,
table.myCreatedComps tr:first-child {
	background-color: #800000;
	color: #fff;
}

table.allComps tr th,
table.myComps tr th,
table.myCreatedComps tr th,
table.allComps tr td,
table.myComps tr td,
table.myCreatedComps tr td {
	padding: 15px 10px;
	width: 150px;
}

table.allComps tr th,
table.myComps tr th,
table.myCreatedComps tr th {
	font-weight: 700;
}

table.allComps tr th:first-child,
table.myComps tr th:first-child,
table.myCreatedComps tr th:first-child {
	border-radius: 4px 0 0 4px;
}

table.allComps tr th:last-child,
table.myComps tr th:last-child,
table.myCreatedComps tr th:last-child {
	border-radius: 0 4px 4px 0;
}

/* Windows 8-like menu*/


.main-menu {
	background: #800000;
>>>>>>> c725b2c9653b1c65aa732ce79d010911577e7469
	color: #FFF;
	font-family:'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16pt;
}
a {
	color: #FFF;
	text-decoration: none;
}
<<<<<<< HEAD
#menu {
	width: 980px;
	margin: 0 auto;
	padding: 50px;
}
#menu a {
	width: 480px;
	line-height: 350px;
	display: block;
	margin: 4px;
	text-align: center;
	float: left;
	opacity: 0.7;
}

/*
.yellow { background: #E68A00; }
.blue { background: #000052; }
.purple { background: #990000; }
.orange { background: #ee7202; }
.pink { background: #e61c67; }
.green { background: #004F00; } */

.yellow { background: #8F0000; }
.blue { background: #BF0000; }
.purple { background: #CF0000; }
.green { background: #600000; }
.orange { background: #A60000; }
.pink { background: #7F0000; }

/* Footer */

#footer {
	background-color: #800000;
	padding: 20px 60px;
	color: #fff;
	text-align: right;
}

/* Create competition */

#create-comps {
	position: absolute;
	width: 100%;
	text-align: center;
}

#create-comps .help-menu {
	left: 0%;
}

#create-comps .main-create {
	position: relative;
	text-align: center;
	margin: 0 auto;
	width: 900px;
	background-color: #800000;
	border-radius: 4px;
	margin-bottom: 10%;
}

#create-comps #logo,
#comps #logo {
	margin: 10% auto 7% auto;
	width: 250px;
}

.main-create {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	background-color: #800000;
	letter-spacing: 1px;
}

.create_competition {
	text-align: left;
	padding: 100px;
}

.main-create h1,
.main-create h2,
.main-create label {
	color: #FFF430;
}

.main-create h1 {
	margin-top: 0;
	margin-bottom: 50px;
}

.main-create label,
.ui-widget input#users {
	font-size: 15px;
	font-family: "Roboto";
}

.main-create label,
.main-create #need input[type="text"],
.main-create #users {
	display: block;
	width: 200px;
}

.main-create p {
	display: inline-block;
}

form#create-competition input {
	border: none;
	border-bottom: 1px solid rgba(255, 244, 48, 0.25);
	background-color: #800000;
	color: #FFF430;
	margin: 5px 0 20px 0;
	padding: 5px 0;
}

form#create-competition input:focus,
form#create-competition select:focus {
	outline: 0;
	border-bottom: 1px solid #FFF430;
}

form#create-competition input[type=radio] {
    display:none;
    margin-top: 20px;
}

form#create-competition input[type=radio] + label {
    display:inline-block;
    margin:-3px;
    padding: 8px 16px;
    background-color: #800000;
    border: 1px solid #FFF430;
    width: 80px;
    text-align: center;
}

form#create-competition input[type=radio]:checked + label { 
	background-image: none;
    background-color: #FFF430;
    color: #800000;
}

form#create-competition img#main-img,
form#create-competition img#replace-img {
	height: 35px;
	margin-left: 22px;
}

form#create-competition #addButton {
	cursor: pointer;
}

form#create-competition img {
	-webkit-transition: all 1000ms ease;
	-moz-transition: all 1000ms ease;
	-ms-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
}

.category,
.basketball,
.football,
form#create-competition input.text,
form#create-competition input.sats1,
form#create-competition input.sats2 {
	border-width: 0 0 1px 0;
	border-bottom: 1px solid rgba(255, 244, 48, 0.25);
	background-color: #800000;
	color: #FFF430;
	margin: 0;
	margin-left: 20px;
	padding: 5px 0;
	float: left;
}

form#create-competition input.text,
form#create-competition input.sats1,
form#create-competition input.sats2 {
	padding: 4px 5px 8px 5px;
	width: 170px;
}

form#create-competition input.text {
	width: 50%;
}

.question p {
	color: #FFF430;
	float: left;
	font-size: 23px;
	font-weight: 700;
	padding: 5px 0;
	margin-bottom: 20px;
}

.removeButton img {
	width: 15px;
}

.removeButton {
	line-height: 45px;
	margin-left: 20px;
	cursor: pointer;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(255, 244, 48, 0.25);
    font-size: 16px;
    font-family: "Roboto";
}


#floater,
#floater2,
#partnum,
.ui-widget {
	float: left;
}

#floater2,
form#create-competition input#partnum {
	margin-left: 200px;
}

form#create-competition input#partnum {
	margin-top: 25px;
	width: 150px;
}

#floater2 label:first-child {
	margin-bottom: 25px;
}

.ui-widget {
	display: inline-block;
}

.clearer {
	clear: both;
}

form#create-competition label[for="participantsun"] {
	border-radius: 5px 0 0 5px;
}

form#create-competition label[for="participants"] {
	border-radius: 0 5px 5px 0;
}

form#create-competition input[type="submit"],
form#create-competition #main input[type="button"] {
  	background: none;
  	border: 2px solid #FFF430;
  	color: #FFF430;
  	width: auto;
  	padding: 10px 20px;
  	font-weight: 700;
  	letter-spacing: 1px;
  	-webkit-transition: all 1000ms ease;
	-moz-transition: all 1000ms ease;
	-ms-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
	font-size: 16px;
	margin: 50px 0 0 -22px;
}

form#create-competition input[type="submit"]:hover,
form#create-competition #main input[type="button"]:hover {
	color: #800000;
	background-color: #FFF430;
	cursor: pointer;
}

/* Results */

table.results tr:first-child{
	background-color: #800000;
	color: #fff; 
}
table.results td:first-child{
	text-align: left;
}
table.results tr th,
table.results tr td{
	padding: 15px 10px;
	width: 150px;
}
table.results tr th{
	font-weight: 700;
}
table.results tr th:first-child{
	border-radius: 4px 0 0 4px;
}
table.results tr th:last-child{
	border-radius: 0px 4px 4px 0px;
}

/* Smaller screens */

@media screen and (max-device-width: 1075px) {
	#learn .step img {
		width: 60px;
	}

	#learn img.right-arrow {
		width: 30px;
		margin-bottom: 17px;
	}

	#learn .step {
		margin: 0 20px;
	}

	#create-comps .main,
	#comps .main {
		width: 700px;
	}

	#create-comps table,
	#comps table {
		width: 650px;
	}

	#create-comps table tr th,
	#create-comps table tr td,
	#comps table tr th,
	#comps table tr td {
		padding: 5px 0;
	}
}

@media screen and (max-device-width: 800px) {
	.banner {
		left:0;
	    right:0;
	    margin-left:auto;
	    margin-right:auto;
	}

	#learn .step img {
		width: 40px;
	}

	#learn img.right-arrow {
		width: 15px;
		margin-bottom: 17px;
	}

	#learn .step {
		margin: 0 1%;
	}

	.step h3 {
		font-size: 14px;
	}

	#menu .size {
		font-size: 15px;
	}

	#create-comps .main,
	#comps .main {
		width: 500px;
	}

	#comps table {
		width: 450px;
	}
}

@media screen and (max-device-width: 585px) {
	#menu .size {
		font-size: 12px;
	}

	.banner h1 {
		font-size: 20px;
	}

	.banner p {
		font-size: 13px;
	}

	#create-comps .main,
	#comps .main {
		width: 400px;
	}

	#comps table {
		width: 350px;
	}

	.tab-buttons a {
		width: 110px;
	}

	#comps #logo {
		width: 150px;
	}

	.help-menu ul li a {
		padding: 4px 2px;
	}

	.help-menu ul li {
		padding: 10px 5px;
	}

	.help-menu ul {
		padding-right: 0;
	}
}

@media screen and (max-device-width: 500px) {
	.help-menu #alogo {
		display: none;
	}

	#learn img.right-arrow  {
		display: none;
	}

	#menu .size {
		font-size: 9px;
	}
}

@media screen and (max-device-width: 400px) {
	#learn .step {
		display: block;
		margin: 0 0 20px 0;
	}

	#learn .step img {
		width: 80px;
	}

	.step h3 {
		font-size: 16px;
	}

	#menu .size {
		display: block;
		float: none;
		font-size: 18px;
	}

	.help-menu ul li a {
		padding: 4px 6px;
	}

	.help-menu ul li {
		padding: 10px 20px;
	}

	.help-menu {
		height: 80px;
	}

	#create-comps #logo,
	#comps #logo {
		margin-top: 35%;
	}

	#comps table {
		width: 300px;
		font-size: 10px;
	}

	#create-comps .main,
	#comps .main {
		width: 400px;
	}

	.tab-buttons a {
		font-size: 10px;
		width: 70px;
	}
}

@media screen and (max-device-width: 370px) {
	#comps table {
		width: 320px;
		font-size: 10px;
	}

	#create-comps .main,
	#comps .main {
		width: 370px;
	}
}

@media screen and (max-device-width: 320px) {
	#comps table {
		width: 270px;
		font-size: 10px;
	}

	#create-comps .main,
	#comps .main {
		width: 320px;
	}
}

@media screen and (max-device-width: 280px) {
	.help-menu ul li {
		padding: 10px;
	}
}
=======
.menu {
	width: 390px;
	margin: 30px auto;
}
.menu a {
	width: 180px;
	line-height: 180px;
	display: block;
	margin: 4px;
	text-align: center;
	float:left;
	opacity: 0.3;
}
.yellow { background: #fdd22a; }
.blue { background: #009fe3; }
.purple { background: #574696; }
.orange { background: #ee7202; }
.pink { background: #e61c67; }
.green { background: #96c11f; }
>>>>>>> c725b2c9653b1c65aa732ce79d010911577e7469
